/* span {
    border:  solid black;
    position: fixed;
    background-color: grey;
} */

div{
    height: 500px;
    width: 500px;
    border:  solid blue;
    display: inline-block;
    text-align: center;
}

/* #div2{
    position: absolute;
    
} */

h1{
    border: thick solid black;
    width: 1000px;
    height: 50px;
    text-align: center;
}

html{
    display: flex;
    justify-content: center;
}