body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#playingField{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.hidden{
    visibility: hidden;
}

span{
    display: flex;
 
    justify-content: center;
}

.hidden2{
    display: none;
}

#form{
    
    width: 600px;
}

span{
    font-size: 50px;
}